.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

.align-center {
    text-align: center;
  }

section.landing {
    margin-top: 100px;
  }

.fullwidth {
    width: 100%;
  }

/* show & hide hero image for different queries */
.hide-on-mobile {
    display: block;
  }
  
  .show-on-mobile {
    display: none;
  }
  
  .show-on-mobile-notify {
    display: none;
  }

/* start nav bar */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    padding: 55px 0;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    width: 100%;
    background-color: white;
  }
  
  nav ul li {
    display: inline-block;
    text-align: center;
    margin: 0 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #0a281e;
    text-align: center;
    text-transform: capitalize;
    /* font-size: 2.25em; */
    font-size: 1.9125em;
    font-family: "my_fontregular", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    letter-spacing: 0px;
  }
  
  nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  a.active{
    text-decoration: underline !important; 
    text-decoration-thickness: 2px;
  }
  
  /* end nav bar */

  /* start landing page */


.landing p {
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.5em;
    text-align: center;
    font-family: "Trade Gothic", sans-serif;
    font-weight: bold;
    margin-top: -12px;
    font-size: 1em;
    font-size: 0.85em;
  }
  
  .fix-margin{
    margin-top: 30px;
  }
  
  .podcast-available {
    margin-bottom: 38px !important;
  }
  
  .landing .goodleaf-logo-img {
    margin: 30px 0 20px 0;
    max-width: 150px;
  }
  
  .landing .hero {
    margin-top: 70px;
  }
  
/* end landing page  */

/*Start about*/
.the-about {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .about h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
  }
  
  .icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #F7B32B;
    background-color: #ED1C24;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
  }
  
  .icon-container i {
    color: #F7B32B;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
  }
  /*End about*/

/*Start our sponsors*/
  .grey {
    filter: grayscale(100%);
    opacity: 0.5;
  }
/*End our sponsors*/

/*Start get involved*/
.involved-img {
  max-width: 500px;
}
/*End get involved*/

/* start footer */

footer ul {
    list-style-type: none;
    text-align: center;
    padding: 80px 0px 200px 0px;
  }
  
  footer ul li a {
    color: inherit;
    text-decoration: none;
    font-family: "Trade", sans-serif;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    font-weight: 600;
    /* font-size: 1em; */
    font-size: 0.85em;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer ul li .footer-img {
    padding: 60px;
    max-width: 460px;
  }
  
  /* end footer */


  /*start our work*/
.work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  /* .work-item:last-child{
      margin-bottom: 0;
  } */
  
  .profile-img {
    width: 50rem;
    flex: 2;
  }
  
  .work-description {
    margin-left: 50px;
    margin-right: 50px;
  } 
  
  .work-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
  }
  
  .work-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
  }
  
  .work-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
  }
  
  .work-description .cta:hover {
    color: #2f67cd;
  }
  /*End our-work*/

  /*Start gallery*/
  
  /*End gallery*/

  /* Start contact us*/
  .contact-img {
    max-width: 500px;
    margin-top: 100px;
  }
  /*End contact us*/

  /* Mobile Responsive */
@media only screen and (min-width: 200px) and (max-width: 1023px) {
  
    /* -- 2a. header */
    /* show & hide hero image for different queries */
    .hide-on-mobile {
      display: none;
    }
  
    .show-on-mobile {
      display: block;
    }

      /* -- start nav */  
  nav ul li {
    margin-right: 15px;
    display: block;
  }

  nav a {
    font-size: 1em;
  }

  .nav-links {
    padding: 0px;
  }

  header ul li {
    margin: 0 10px;
  }
  /* -- end nav */  

  .mobile-margin {
    margin-top: 60px;
    margin-left: -30px;
  }

  #home, #our-work, #gallery, #contact-us, #get-involved{
    overflow-x: hidden;
  }

  .work-item {
    display: block;
}
  
    /* start footer */
    footer ul li .footer-img {
      padding: 35px 55px 20px 55px;
    }
  
    footer ul li a {
      font-size: 0.75em;
    }
  }
    /* end footer */